.testimonials {
    position: relative;
    
    padding-top: 98px;
    background: #f4f5f7;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 612px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__items {
        padding-bottom: 12px;
    }

    &__slider-nav {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__image {
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-bottom: -61px;
        width: 495px;
        height: 550px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.testimonials-item {
    position: relative;

    &__avatar {
        overflow: hidden;
        margin-bottom: 25px;
        border-radius: 50%;
        width: 72px;
        height: 72px;
    }

    &__avatar-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__descr {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
    }

    &__author {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
    }

    &__author-position {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
}