<section class="clients-section">
    <div class="container">
        <h2 class="clients-section__title title title--center">
            Our clients
        </h2>
        <ul class="list-reset clients-section__list">
            <li class="clients-section__item">
                <a href="" class="clients-section__link">
                    <img src="../img/partners/InDepthConsultingLogo.png" alt="InDepth Consulting" class="clients-section__image">
                </a>
            </li>
            <li class="clients-section__item">
                <a href="" class="clients-section__link">
                    <img src="../img/partners/HigherFitLogo.png" alt="Higher Fit" class="clients-section__image">
                </a>
            </li>
            <li class="clients-section__item">
                <a href="" class="clients-section__link">
                    <img src="../img/partners/SentinalConsultingLogo.png" alt="SentinalConsulting" class="clients-section__image">
                </a>
            </li>
            <li class="clients-section__item">
                <a href="" class="clients-section__link">
                    <img src="../img/partners/HappyHomeLogo.png" alt="HappyHome" class="clients-section__image">
                </a>
            </li>
            <li class="clients-section__item">
                <a href="" class="clients-section__link">
                    <img src="../img/partners/ForSaleLogo.png" alt="ForSale" class="clients-section__image">
                </a>
            </li>
            <li class="clients-section__item">
                <a href="" class="clients-section__link">
                    <img src="../img/partners/SunsetRealtyLogo.png" alt="SunsetRealty" class="clients-section__image">
                </a>
            </li>
        </ul>
    </div>
</section>