<section class="contacts-section">
    <h2 class="contacts-section__title title title-center visually-hidden">Contacts with us</h2>
    <div class="container contacts-section__container">
        <form action="" class="contacts-section__form form-contacts">
            <h3 class="form-contacts__title">A&nbsp;quick way to&nbsp;discuss details</h3>
            <label class="form-contacts__label form-field form-field--gray">
                <span class="form-field__caption">Name*</span>
                <input class="form-field__input" type="text" placeholder="Your name" name="name" required>
            </label>
            <label class="form-contacts__label form-field form-field--gray">
                <span class="form-field__caption">Phone*</span>
                <input class="form-field__input" type="tel" placeholder="Your phone number" name="tel" required>
            </label>
            <label class="form-contacts__label form-field form-field--gray">
                <span class="form-field__caption">Email</span>
                <input class="form-field__input" type="email" placeholder="Your working email" name="email">
            </label>
            <label class="form-contacts__label form-field form-field--gray">
                <span class="form-field__caption">Message*</span>
                <textarea class="form-field__input form-field__input--big" type="text" placeholder="Your message"
                    name="message" required></textarea>
            </label>
            <label for="acception" class="form-contacts__form-checkbox form-checkbox">
                <input class="form-checkbox__input" type="checkbox" id="acception" name="accept_rules">
                <span class="form-checkbox__caption">
                    I&nbsp;agree to&nbsp;receive communications from Createx Construction Bureau.
                </span>
            </label>
            <button type="submit" class="btn-reset btn form-contacts__btn btn--fill">Send request</button>
        </form>
    </div>
</section>