<section class="facts">
    <div class="container">
        <h2 class="facts__title title title--center">
            Some facts and figures
        </h2>
        <ul class="list-reset facts__list">
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__infoblock facts-element__infoblock--color-one" data-percent="true"
                        data-value="98">
                        <svg class="facts-element__circles-wrapper" viewBox="-10 -10 320 320">
                            <circle class="circle-progress-bg" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                            <circle class="circle-progress" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                        </svg>
                        <div class="facts-element__infoblock-value"></div>
                    </div>
                    <span class="facts-element__subtitle">
                        Totally satisfied clients
                    </span>
                </div>
            </li>
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__infoblock facts-element__infoblock--color-two" data-percent="false"
                        data-value="20" data-full-value="27">
                        <svg class="facts-element__circles-wrapper" viewBox="-10 -10 320 320">
                            <circle class="circle-progress-bg" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                            <circle class="circle-progress" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                        </svg>
                        <div class="facts-element__infoblock-value"></div>
                    </div>
                    <span class="facts-element__subtitle">
                        Years of experience
                    </span>
                </div>
            </li>
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__infoblock facts-element__infoblock--color-three" data-percent="false"
                        data-value="9452" data-full-value="11500">
                        <svg class="facts-element__circles-wrapper" viewBox="-10 -10 320 320">
                            <circle class="circle-progress-bg" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                            <circle class="circle-progress" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                        </svg>
                        <div class="facts-element__infoblock-value"></div>
                    </div>
                    <span class="facts-element__subtitle">
                        Working hours spent
                    </span>
                </div>
            </li>
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__infoblock facts-element__infoblock--color-four" data-percent="true"
                        data-value="100">
                        <svg class="facts-element__circles-wrapper" viewBox="-10 -10 320 320">
                            <circle class="circle-progress-bg" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                            <circle class="circle-progress" cx="150" cy="150" r="150" fill="none" stroke-width="15">
                            </circle>
                        </svg>
                        <div class="facts-element__infoblock-value"></div>
                    </div>
                    <span class="facts-element__subtitle">
                        Succeeded projects
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>