<section class="hero-page hero-page--work">
    <div class="container">
        <div class="hero-page__breadcrumbs">
            <ul class="list-reset breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="./index.html" class="breadcrumbs__link">
                        Homepage
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">
                        Work
                    </a>
                </li>
            </ul>
        </div>
        <div class="hero-page__content">
            <h1 class="hero-page__title">Our work</h1>
            <p class="hero-page__descr">
                Our portfolio represents 20&nbsp;years of&nbsp;construction experience backed by&nbsp;a&nbsp;passion for perfect client service, quality and innovations in&nbsp;consctuction industry.
            </p>
        </div>
    </div>
</section>