<section class="our-benefit our-benefit--dark">
    <div class="container our-benefit__container">
        <h2 class="title title--center our-benefit__title">
            Our benefits
        </h2>
        <p class="descr descr--center">
            Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.
        </p>
        <ul class="list-reset our-benefit__list ul-3-cells ul-3-cells--our-benefit">
            <li class="ul-3-cells__item ul-3-cells__item--icon-1">
                <h3 class="ul-3-cells__subtitle">
                    Fixed Terms &amp;&nbsp;Cost
                </h3>
                <p class="ul-3-cells__descr">
                    Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. 
                    Veniam velit nostrud aliquip sunt.
                </p>
            </li>
            
            <li class="ul-3-cells__item ul-3-cells__item--icon-2">
                <h3 class="ul-3-cells__subtitle">
                    Qualified Workers
                </h3>
                <p class="ul-3-cells__descr">
                    Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. 
                    Minim empor est&nbsp;ea.
            </li>

            <li class="ul-3-cells__item ul-3-cells__item--icon-3">
                <h3 class="ul-3-cells__subtitle">
                    Supervision &amp;&nbsp;Control
                </h3>
                <p class="ul-3-cells__descr">
                    Sit veniam aute dolore adipisicing nulla sit culpa. 
                    Minim mollit voluptate ullamco proident ea&nbsp;ad.
                </p>
            </li>
        </ul>
        <a href="" class="btn-reset btn btn--fill our-benefit__btn">
            Discuss a&nbsp;project
        </a>
    </div>
</section>