<section class="partners-section">
    <div class="container">
        <h2 class="partners-section__title title title--center">
            Supported by&nbsp;12+&nbsp;partners
        </h2>
        <ul class="list-reset partners-section__list">
            <li class="partners-section__item">
                <a href="" class="partners-section__link">
                    <img src="../img/partners/InDepthConsultingLogo.png" alt="InDepth Consulting" class="partners-section__image">
                </a>
            </li>
            <li class="partners-section__item">
                <a href="" class="partners-section__link">
                    <img src="../img/partners/HigherFitLogo.png" alt="Higher Fit" class="partners-section__image">
                </a>
            </li>
            <li class="partners-section__item">
                <a href="" class="partners-section__link">
                    <img src="../img/partners/SentinalConsultingLogo.png" alt="SentinalConsulting" class="partners-section__image">
                </a>
            </li>
            <li class="partners-section__item">
                <a href="" class="partners-section__link">
                    <img src="../img/partners/HappyHomeLogo.png" alt="HappyHome" class="partners-section__image">
                </a>
            </li>
            <li class="partners-section__item">
                <a href="" class="partners-section__link">
                    <img src="../img/partners/ForSaleLogo.png" alt="ForSale" class="partners-section__image">
                </a>
            </li>
            <li class="partners-section__item">
                <a href="" class="partners-section__link">
                    <img src="../img/partners/SunsetRealtyLogo.png" alt="SunsetRealty" class="partners-section__image">
                </a>
            </li>
        </ul>
    </div>
</section>