<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">
        Browse our selected projects and learn more about our work
      </h2>
      <div class="slider-nav portfolio-section__slider-nav">
        <button class="btn-reset slider-nav__btn portfolio-section__prev slider-btn">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#slider-nav-btn-prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn portfolio-section__next slider-btn">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#slider-nav-btn-next"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper portfolio-section__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="" class="portfolio-item">
            <img class="portfolio-item__pic" src="../img/portfolio-section-pic1.jpg" alt="Portfolio item">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View porject</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="portfolio-item">
            <img class="portfolio-item__pic" src="../img/portfolio-section-pic2.jpg" alt="Portfolio item">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Cubes Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View porject</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="" class="portfolio-item">
            <img class="portfolio-item__pic" src="../img/portfolio-section-pic3.jpg" alt="Portfolio item">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">The Pencil Building</h3>
              <span class="portfolio-item__descr">Stores & Malls</span>
              <div class="portfolio-item__btn">View porject</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="portfolio-section__learn learn-more">
      <h3 class="learn-more__subtitle">
        Explore all our works
      </h3>
      <a href="#" class="btn-reset btn learn-more__btn btn--fill">View Portfolio</a>
    </div>
  </div>
</section>