<section class="we-offer">
    <div class="container we-offer__container">
        <div class="we-offer__img">
            <img src="./img/services-page/we-offer.jpg" alt="" class="we-offer__img-inner">
        </div>
        <div class="we-offer__content">
            <h2 class="we-offer__title title">
                We&nbsp;offer
            </h2>

            <ul class="list-reset we-offer__list">
                <li class="we-offer__item">
                    <div class="accordion" aria-expanded="false" data-openlist="false">
                        <h3 class="accordion__title title">Interior design of apartments</h3>
                        <div class="accordion__content">
                            <p class="accordion__descr" aria-hidden="true">
                                Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin.
                                Imperdiet elementum faucibus dignissim purus.
                                Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="we-offer__item">
                    <div class="accordion" aria-expanded="false" data-openlist="false">
                        <h3 class="accordion__title title">Interior design of private houses</h3>
                        <div class="accordion__content">
                            <p class="accordion__descr" aria-hidden="true">
                                Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin.
                                Imperdiet elementum faucibus dignissim purus.
                                Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
</section>