<section class="work-portfolio">
    <div class="container">
        <h2 class="visually-hidden">
            Our Portfolio
        </h2>
        <ul class="list-reset work-portfolio__tabs-nav portfolio-tabs-nav">
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active" data-filter="all">
                    <svg class="portfolio-tabs-nav__icon" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#work-tabs-all"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__title">All Projects</span>
                </button>
            </li>

            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-filter="construction">
                    <svg class="portfolio-tabs-nav__icon" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#work-tabs-construction"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__title">Construction</span>
                </button>
            </li>

            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-filter="projects"> 
                    <svg class="portfolio-tabs-nav__icon" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#work-tabs-projects"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__title">Project Development</span>
                </button>
            </li>

            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-filter="interiors">
                    <svg class="portfolio-tabs-nav__icon" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#work-tabs-interiors"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__title">Interior Design</span>
                </button>
            </li>

            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-filter="repairs">
                    <svg class="portfolio-tabs-nav__icon" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#work-tabs-repairs"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__title">Repairs</span>
                </button>
            </li>
        </ul>
        
        <ul class="list-reset portfolio-tabs grid">
            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="projects">
                    <img class="project-item__pic" src="../img/work-page/cubes-building.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Cubes Building</h3>
                      <span class="project-item__descr">Business Centers</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="repairs">
                    <img class="project-item__pic" src="../img/work-page/modern-cottage.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Modern Cottage</h3>
                      <span class="project-item__descr">Private houses</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="interiors">
                    <img class="project-item__pic" src="../img/work-page/luxury-beach-house.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Luxury Beach House</h3>
                      <span class="project-item__descr">Private houses</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="repairs">
                    <img class="project-item__pic" src="../img/work-page/modern-double-bedroom.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Modern Double Bedroom</h3>
                      <span class="project-item__descr">Apartments &amp;&nbsp;flats</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="construction">
                    <img class="project-item__pic" src="../img/work-page/kids-bedroom.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Kids Bedroom With Decorations</h3>
                      <span class="project-item__descr">Apartments &amp;&nbsp;flats</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="construction">
                    <img class="project-item__pic" src="../img/work-page/pencil-building.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">The Pencil Building</h3>
                      <span class="project-item__descr">Stores &amp;&nbsp;Malls</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="interiors">
                    <img class="project-item__pic" src="../img/work-page/red-finger-building.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Red Finger Building</h3>
                      <span class="project-item__descr">Business Centers</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="projects">
                    <img class="project-item__pic" src="../img/work-page/scandinavian-interior.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Scandinavian Style Interior</h3>
                      <span class="project-item__descr">Private houses</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>

            <li class="portfolio-tabs__item">
                <a href="" class="project-item" data-target="projects">
                    <img class="project-item__pic" src="../img/work-page/painted-house.jpg" alt="Portfolio item">
                    <div class="project-item__content">
                      <h3 class="project-item__title">Brown and Gray Painted House</h3>
                      <span class="project-item__descr">Private houses</span>
                      <div class="project-item__btn">View porject</div>
                    </div>
                  </a>
            </li>
        </ul>
        <div class="loader-block">
            <button class="btn-reset load-more">
                <svg class="load-more__icon" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#work-page-load-more"></use>
                </svg>
                Load more
            </button>
        </div>
    </div>
</section>